.description-content {
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 10px;
    color: white;
    background-color: white;
} */

.navbar li {
  display: inline-block;
  padding: 10px;
  margin-right: 5px;
  margin-left: 10px;
  background: white;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
}

.narvar-text {
  background-color: white !important;
  padding: 0rem;
  padding-left: 4rem;
}

.nav-left {
  padding-right: 2rem;
}

.nav-right {
  height: 100%;
}

.latitude {
  background-color: #008080;
  color: white;
  font-size: 25px;
}

.heading_text {
  font-family: serif;
  padding: 1rem;
  color: #ffffff !important;
  height: 100%;
  width: 10rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.background {
  background-color: #ececec;
  justify-content: space-evenly;
}

/* ----DESCRIPTION START---- */
.card-img-summary {
  float: left;
  width: 60%;
  height: 60%;
  }

.card-padding {
  padding: 2rem 0rem 2rem 2rem;
}

.data-card-padding {
  padding-top: 3rem;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-bottom: 10rem;
}

h4 {
  color: #008080;
  font-family: serif;
  padding: 3rem 1.5rem 0;
  font-size: 30px;
}

h5 {
  color: #008080;
  font-family: serif;
  padding: 3rem 1.5rem 0;
  font-size: 30px;
}

h6 {
  color: #008080;
  font-family: serif;
  padding: 3rem 1.5rem 0;
  font-size: 30px;
  text-align: center;
}


footer {
  text-align: center;
  color: white;
  background-color: #9d9b9b;
  padding: 15px;
  border-top-style: solid;
  border-top-color: #008080;
  border-top-width: 5px;
}

img {
  max-width:90%;
  height:auto;
  object-fit: contain;
}

.img-viz{
  border-style: solid;
  border-color: #008080;
  border-width: medium;
}

.com-img{
  margin: 0rem 3rem 2rem 3rem;

}
@media (max-width: 767px) {
  .navbar-expand-lg { 
    background-color: #008080 !important;
  }

  .navbar {
    max-height: none;
    padding: inherit;
  }
  .navbar div {
    margin: inherit;
    background-color: white;
  }
  .navbar-brand {
    padding: 10px;
  }
  button{
    margin-right: 20px;
  }

  .navbar-light .navbar-toggler {
    color: #888888;
    border-color: #DDDDDD;
  }

  .card-padding-2 {
    padding: 3 0;
  
  
  }}